/*
 * Empty Stylesheet file.
 */

.autofill-text{
    -fx-skin:"np.com.ngopal.control.AutoFillTextBoxSkin";
           -fx-background-color: #454544;
       -fx-text-fill: #ffffff;
}

.mainFxmlClass {
-fx-background-image: url("../Images/bg3.png");
}
.header{
-fx-background-image: url(../Images/footer3.png);
}

.new{
     -fx-background-image: url("../Images/fullcash_15.jpg");
       -fx-background-color: #013b45;
    
}
.new:hover{
    
     -fx-background-image: url("../Images/fullcash_15h.jpg");
}
.delete{
     -fx-background-image: url("../Images/fullcash_14.jpg");
       -fx-background-color: #013b45;
    
}
.delete:hover{
    
     -fx-background-image: url("../Images/fullcash_14h.jpg");
}
.updatebill{
     -fx-background-image: url("../Images/fullcash_06.jpg");
       -fx-background-color: #013b45;
    
}
.updatebill:hover{
    
     -fx-background-image: url("../Images/fullcash_06h.jpg");
}
.searchbill{
     -fx-background-image: url("../Images/fullcash_04.jpg");
       -fx-background-color: #013b45;
    
}
.searchbill:hover{
    
     -fx-background-image: url("../Images/fullcash_04h.jpg");
}
.savebill{
     -fx-background-image: url("../Images/fullcash_13.jpg");
       -fx-background-color: #013b45;
    
}
.savebill:hover{
    
     -fx-background-image: url("../Images/fullcash_13h.jpg");
}


.closewindow{
     -fx-background-image: url("../Images/fullcash_02.jpg");
       -fx-background-color: #013b45;
}
.closewindow:hover{
    
     -fx-background-image: url("../Images/fullcash_02h.jpg");
}
.txtf{
    -fx-background-image: url(../Images/regname.jpg);
    -fx-text-fill: #ffffff;
    -fx-background-color: #013b45;
}
.barcodereg{
   
     -fx-text-fill: #ffffff;
    -fx-background-color: #013b45;   
}

.sellreg{
     -fx-background-image: url(../Images/price_reg3.png);
          -fx-text-fill: #ffffff;
    -fx-background-color: #013b45;   
}
.hreg{
    -fx-background-image: url(../Images/hreg.png);
     -fx-background-color: #cef4f5;;
}
.txtarea .content{
    -fx-background-image: url("../Images/reg8.png");
 -fx-text-fill: white;
 -fx-background-color: #cef4f5;
    
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
.S .column-header  {
   -fx-background-color: #116567;
     
}

.S .table-cell  {
    -fx-alignment: center;
     /* The rest is from caspian.css */

    
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.183333em; /* 1 */
    -fx-cell-size: 5.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
      -fx-font-size: 10px ;
     
}
.S .table-view:hover{
    -fx-text-fill:#ffffff;
    -fx-background-color:#041c1c;
    
}

